.margin{
    text-align: center;
    margin: 0;
    ion-button{
        margin: 15px;
    }
}

.welcomeText{
    background-image: url(/assets/login_page_img.jpg);
    height: 35%;
    z-index: -1;
}

.justText{
    margin-top: -35%;
    margin-left: 20px;
    color: whitesmoke;

    h1{
        font-size: 3em;
    }

    h4{
        font-size: 2em;
    }
}

@media only screen and (min-width: 720px) {

    .welcomeText{
        background-image: url(/assets/Nature_bg_login.jpg);
        height: 100%;
        z-index: -1;
    }

    .justText{
        margin-top: -46%;
        margin-left: 20px;
        color: white;
        

        h1{
            text-align: center;
            font-size: 4em;
            font-weight: 700;
        }

        h4{
            text-align: center;
            font-size: 3em;
            font-weight: 700;
        }
    }
}

.solid{
    border-top: 3px solid #bbb;
}