<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/home-tabs/myposts"></ion-back-button>
    </ion-buttons>
    <ion-title>Create New Post</ion-title>
    <ion-buttons slot="primary">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <div class="ion-padding">
          <h1>New Post.</h1>
          <h4>Fill out the Following Details.</h4>
        </div>

        <form [formGroup]="newPost">
          <div class="ion-no-padding">

            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label position="floating">Name of the Place</ion-label>
                  <ion-input formControlName="placeName" type="text"></ion-input>
                </ion-item>
                <ion-item *ngIf="placeName.touched && placeName.invalid" color="danger">
                  <ion-text *ngIf="placeName.errors.required">Name is Required.</ion-text>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label position="floating">The Description</ion-label>
                  <ion-textarea formControlName="placeDesc" type="text"></ion-textarea>
                </ion-item>
                <ion-item *ngIf="placeDesc.touched && placeDesc.invalid" color="danger">
                  <ion-text *ngIf="placeDesc.errors.required">Description is Required.</ion-text>
                  <ion-text *ngIf="placeDesc.errors.minlength">Description should be Minimum
                    {{ placeDesc.errors.minlength.requiredLength }} Characters.</ion-text>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label position="floating">The Address</ion-label>
                  <ion-textarea formControlName="placeAddress" type="text"></ion-textarea>
                </ion-item>
                <ion-item *ngIf="placeAdd.touched && placeAdd.invalid" color="danger">
                  <ion-text *ngIf="placeAdd.errors.required">Address is Required.</ion-text>
                  <ion-text *ngIf="placeAdd.errors.minlength">Address should be Minimum
                    {{ placeAdd.errors.minlength.requiredLength }} Characters</ion-text>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label position="floating">Price per Night (in INR)</ion-label>
                  <ion-input formControlName="placePricePerNight" type="number"></ion-input>
                </ion-item>
                <ion-item *ngIf="placePrice.touched && placePrice.invalid" color="danger">
                  <ion-text *ngIf="placePrice.errors.required">Price is Required.</ion-text>
                  <ion-text *ngIf="placePrice.errors.min">Price value should be greater than 0.</ion-text>
                </ion-item>
              </ion-col>
            </ion-row>

            <div formGroupName="placeAvailability">
              <ion-row class="">
                <ion-col size-md="4">
                  <ion-item>
                    <ion-label position="floating">Avilable From</ion-label>
                    <ion-datetime formControlName="availableFrom" min="2020-01-01" max="2050-12-31"></ion-datetime>
                  </ion-item>
                  <ion-item *ngIf="placeAvailableFrom.touched && placeAvailableFrom.invalid" color="danger">
                    <ion-text *ngIf="placeAvailableFrom.errors.required">Required.</ion-text>
                  </ion-item>
                </ion-col>

                <ion-col size-md="4" offset-md="4">
                  <ion-item>
                    <ion-label position="floating">The Address</ion-label>
                    <ion-datetime formControlName="availabletill" min="2020-01-01" max="2050-12-31"></ion-datetime>
                  </ion-item>
                  <ion-item *ngIf="placeAvailabletill.touched && placeAvailabletill.invalid" color="danger">
                    <ion-text *ngIf="placeAvailabletill.errors.required">Required.</ion-text>
                  </ion-item>
                </ion-col>

              </ion-row>
            </div>
            <br />
            <ion-row>
              <ion-col size-xs="6" offset-xs="3" size-md="4" offset-md="4">
                <ion-button expand="block" [disabled]="!newPost.valid" (click)="onCreatePost()">
                  <ion-icon slot="start" name="checkmark-outline"></ion-icon> Create New Post
                </ion-button>
              </ion-col>
            </ion-row>

          </div>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>