<ion-header>
  <ion-toolbar color="primary">
    <ion-title>My Posts</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/home/home-tabs/myposts/new-post">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list-header>Places Advertised By Me</ion-list-header>

  <ion-list class="ion-no-padding">

    <ion-item-sliding *ngFor="let myPost of myOfferPosts" #itemSlider>

      <app-my-post-item [myPost]=myPost></app-my-post-item>

      <ion-item-options side="end">
        <ion-item-option color="primary" (click)="onEditPlace(myPost.id, itemSlider)">
          <ion-icon name="pencil-outline" slot="start"></ion-icon>
          Edit
        </ion-item-option>
      </ion-item-options>

      <ion-item-options side="start">
        <ion-item-option color="danger" (click)="onDeletePlace(myPost.id, itemSlider)">
          <ion-icon name="trash-outline" slot="start"></ion-icon>
          Delete
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>